* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #001;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}
header {
  box-shadow: 0 0px 25px 25px rgba(0, 0, 0, 1);
  background-color: black;
  text-align: center;
  position: fixed;
  padding: 10px;
  color: #fff;
  width: 100%;
  left: 0;
  top: 0;
}
h1 {
  font-size: 25px;
}
.main {
  box-shadow: 0 0 20px rgba(60, 65, 93, 1);
  background-color: #3c415c;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}
#display {
  border: 1px solid #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: right;
  font-size: 2em;
  padding: 8px;
  width: 100%;
}
.buttons {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 10px;
}
.button {
  background-color: #eee;
  border: 2px solid #000;
  text-align: center;
  border-radius: 7px;
  font-size: 1.5em;
  cursor: pointer;
  color: #000;
  height: 60px;
  width: 100%;
}
.duble-size {
  grid-column: span 2;
}
.button:hover {
  transition: background-color 0.2s;
  background-color: #ddd;
}
.operation {
  background-color: #3498db;
  color: white;
}
input {
  color: white;
}
