*{
  padding: 0;
  margin: 0;
}
body {
  background-color: #a6d6ff;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}
.main {
  background-color: white;
  padding: 10px;
  width: 50%;
}
#display {
  text-align: right;
  font-size: 500%;
  width: 100%;
}
.button {
  background-color: black;
  color: white;
  height: 24%;
  width: 25%;
}
